[submodule "libxr"]
	path = libxr
	url = https://github.com/Jiu-xiao/libxr.git
	branch = master
[submodule "mspm0-sdk"]
	path = mspm0-sdk
	url = https://github.com/TexasInstruments/mspm0-sdk
	ignore = dirty
